{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Issa Main Menu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--  <link rel="stylesheet" href="{% static 'css/main_menu.css' %}" />-->
    <script src="main.js"></script>
</head>
<body>
    <div class="content">
        <a href="{% url 'landing:landing' %}" id="form_link">Story 6</a>
        <br>
        <a href="{% url 'profilku:profilku' %}" id="challenge_link">Challenge: Profile Page with TDD</a>
    </div>
    </body>
</html>