<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hello</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
    <!-- <script src="main.js"></script> -->
</head>
<body>
    Hello! Apa kabar!

    
    <form id="form" action='posted'method='POST'>
        {%csrf_token%}
        {{form}}

        <button id="submit" class="btn btn-primary" type="submit" form="form" value="Submit">Submit</button>
    </form>

    <table class="table">
        <thead>
            <th>Status</th>
        </thead>
        <tbody>
            {% for i in result %}
            <tr>
                <td> {{i.desc}} </td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>


</body>
</html>